apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: logging
data:
  filebeat.yml: |
    filebeat.inputs:
      - type: filestream
        id: kubernetes-containers
        paths:
          - /var/log/containers/*.log
        prospector.scanner.symlinks: true

        scan_frequency: 10s
        close_eof: false

        parsers:
          - container: ~

        multiline:
          pattern: '^(Exception|\s+at )'
          negate: false
          match: after

    processors:
      - add_kubernetes_metadata:
          host: ${NODE_NAME}
          matchers:
            - logs_path:
                logs_path: "/var/log/containers/"

      - decode_json_fields:
          fields: ["message"]
          target: ""
          overwrite_keys: true

      - drop_event:
          when:
            not:
              equals:
                kubernetes.namespace: "lab"

    output.logstash:
      hosts: ["logstash.logging.svc.cluster.local:5044"]

    logging.level: info
    logging.to_files: false
