apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana-config
  namespace: logging
data:
  kibana.yml: |
    server.name: kibana
    server.host: "0.0.0.0"

    # Connect to Elasticsearch
    elasticsearch.hosts: ["http://elasticsearch.logging.svc.cluster.local:9200"]

    # Logging
    logging.root.level: info
    logging.appenders.console.type: console
    logging.appenders.console.layout.type: json
