apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harbor
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.goharbor.io
    chart: harbor
    targetRevision: 1.14.0
    helm:
      values: |
        expose:
          type: loadBalancer
          tls:
            enabled: true
            certSource: secret
            auto:
              commonName: ""
            secret:
              secretName: "harbor-cert"
              notarySecretName: "harbor-cert"
          ingress:
            hosts:
              core: harbor.orion.local
              notary: harbor.orion.local
        externalURL: https://harbor.orion.local
  destination:
    server: https://kubernetes.default.svc
    namespace: harbor
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
