apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harbor
  namespace: argocd   # Argo CD Application resource lives here
spec:
  project: default
  source:
    repoURL: https://helm.goharbor.io   # Remote Helm chart repo
    chart: harbor
    targetRevision: 1.14.0
    helm:
      values: |
        expose:
          type: loadBalancer
          tls:
            enabled: true
            certSource: secret
            auto:
              commonName: ""
            secret:
              secretName: "harbor-cert"
              notarySecretName: "harbor-cert"
          ingress:
            hosts:
              core: harbor.orion.local
              notary: harbor.orion.local
        externalURL: https://harbor.orion.local
  destination:
    server: https://kubernetes.default.svc
    namespace: harbor   # Namespace where Harbor will be deployed
  syncPolicy:
    automated:
      prune: true       # Delete orphaned resources automatically
      selfHeal: true    # Reconcile drift automatically
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
    - group: batch
      kind: Job           # Ignore ephemeral Jobs to avoid false OutOfSync
