apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harbor
  namespace: argocd  # Argo CD Application resource lives here
spec:
  project: default
  source:
    repoURL: https://helm.goharbor.io   # Remote Helm chart repo
    chart: harbor
    targetRevision: 1.14.0
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: harbor   # Namespace where Harbor will be deployed
  syncPolicy:
    automated:
      selfHeal: true    # Automatically reconcile drift
    syncOptions:
      - CreateNamespace=true

      
