apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harbor
spec:
  source:
    repoURL: https://github.com/linusdahlbergpriv/k8s-public.git
    targetRevision: main
    path: harbor
    helm:
      chart: harbor
      repoURL: https://helm.goharbor.io
      targetRevision: 1.14.0
      valueFiles:
        - values.yaml
