expose:
  type: loadBalancer
  tls:
    enabled: true
    certSource: secret
    auto:
      commonName: ""
    secret:
      secretName: "harbor-cert"
      notarySecretName: "harbor-cert"
  ingress:
    hosts:
      core: harbor.orion.local
      notary: harbor.orion.local

externalURL: https://harbor.orion.local
