apiVersion: v1
kind: Service
metadata:
  name: logstash
  namespace: logging
spec:
  type: LoadBalancer
  selector:
    app: logstash
  ports:
    - protocol: TCP
      port: 5044        # external port
      targetPort: 5044  # container port
